%header.navbar.navbar-inverse.navbar-fixed-top{:role => 'banner'}
  .navbar-header
    %button.navbar-toggle{:type => 'button', :data => {'toggle' => 'collapse', 'target' => '#pomo-navbar-collapse'} }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    = link_to 'Pomodoro Arcade', root_url, :class => 'navbar-brand'

  %nav#pomo-navbar-collapse.collapse.navbar-collapse{:role => 'navigation'}
    %ul.nav.navbar-nav.navbar-right
      - if current_user
        = render :partial => 'layouts/body/topnav/logged_in_menu'
      - else
        = render :partial => 'layouts/body/topnav/signin_signup_buttons'
        
    -#.navbar-inner
      .container
        .nav-collapse.collapse
          %ul.nav
            %li.active
              = link_to 'Home', '#'
            %li
              = link_to 'About', '#about'
            %li
              =link_to 'Contact', '#contact'
